accelerate
antlr4-python3-runtime==4.11.0
dotenv
einops
# for gemini api
google-genai
gradio
huggingface_hub
imageio
ipdb
json_repair
matplotlib
nltk
numpy
omegaconf
openai
opencv-python-headless>=4.4.0.46
openpyxl
pandas
pillow
portalocker
protobuf
python-dotenv
qwen_vl_utils
requests
rich
sentencepiece
setuptools
sty
tabulate
tensorflow
tiktoken
timeout-decorator
timm
torch==2.6.0
torchvision==0.21.0
flash-attn==2.6.3
tqdm
transformers
typing_extensions
validators
vllm>=0.6.4,<=0.8.4
wandb
xlsxwriter


